@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}



h2 { font-family: 'Bangers', cursive;}
.header {
	overflow: hidden; 
	background-color: #4eb2b0; 
	padding: 20px 10px; 
	font-size: 40px;
	font-family: 'Bangers', cursive;
	
}

.circle{
	width: 15%;
	height: auto;
	border: solid 2px red;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

	
.header a {
	float: left; 
	color: black; 
	text-align: center;
	padding: 12px; 
	text-decoration: none;
	font-size: 40px;
	line-height:25px; 
	border-radius: 4px;
}

.header a.logo{
	font-size: 40px; 
	font-weight:bold; 
	color: Red;
}


.header a:hover{
background-color: red;
color: #4eb2b0;

}

.header-right{
	float: right;
	text-transform: uppercase;
}

#myCarousel{
	display: block; 
	margin-left: auto;
	margin-right: auto;
	width:90%;
	
}

@media screen and (max-width: 500px){
	.header a {
	
		float: none; 
		display: block; 
		text-align: left; 
	}
	
	.header-right {
		float: none; 
	}
	
	.flex-container{
		max-width: 95%;
	}
	.project{

      -ms-flex: 100%;
      flex: 50%;
      max-width: 70%;
  
	}
}

.project{
	
	  width: 300px;
	  height: 300px;
	  border: 5px solid red;
	  padding: 50px;
	  margin: auto;
	  margin-top: 2%;
	  margin-bottom: 2%;
 
}

.flex-container{
	display: flex;
	flex-wrap: wrap;
	text-align: center; 
	border-collapse: seperate;
	
}


.slidimg {
  width: 100%;
  height: auto;
  padding: 5px;
}

h2 {
  text-align: center;
  padding-bottom: 1em;
}

.slick-dots {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
}
.slick-dots li {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}
.slick-dots li.slick-active button {
  background-color: black;
}
.slick-dots li button {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: #999;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.slick-dots li :hover {
  background-color: black;
}

/* Custom Arrow */
.prev {
  color: #999;
  position: absolute;
  top: 38%;
  left: -2em;
  font-size: 1.5em;
}
.prev :hover {
  cursor: pointer;
  color: black;
}

.next {
  color: #999;
  position: absolute;
  top: 38%;
  right: -2em;
  font-size: 1.5em;
}
.next :hover {
  cursor: pointer;
  color: black;
}

@media screen and (max-width: 800px) {
  .next {
    display: none !important;
  }
}



/*meet the team section */

/* Three columns side by side */
.column {
	margin: auto;
  float: left;
  margin-bottom: 16px;
  padding: 0 8px;
 
}

.twocolumns{
	width: 50%; 
}

.threecolumns{
	width: 33.3%;
}
.group {
	margin: auto;
	margin-left: 
	width: 100%;
	padding: 10px;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	
}

.row {
	margin: auto;
	width: 100%;
	padding: 10px;

}
/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  width: 80%;
  height:80%;
  margin: auto;

}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

.ovcont {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.ovcont:hover .overlay {
  opacity: 0.8;
}

.text {
  
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align:center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
	color: grey;
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	}

.desc{
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.email{
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.educator{
	border-radius: 50%;
}

.borderbox{
	margin: 50px 100px 100px 100px; /* margin top, margin right, Margin bottom, Margin left*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.borderboxns{
		margin: 50px 100px 100px 100px; /* margin top, margin right, Margin bottom, Margin left*/

}

.wording{
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	
	
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 5px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #6bb5f1;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #72c0ff;
  
  
}

.center {
  margin: auto;
  width: 50%;

}

#block{
	border: 20px solid red;
	padding: 10px;
	border-radius: 15px 50px 30px; /*first value applies to top-left corner, second value applies to top-right corner, third value applies to bottom-right corner, and fourth value applies to bottom-left corner*/
	background: red;
}
