h1{
	text-align: center; 

}

 table, th, td, tr{
	
	border: solid 1px black; 
	border-collapse: collapse;
}
.grid{
	font-size:12pt;
	border-collapse: separate;
    border-spacing:25px 25px;
	border-width:0px;
	border: solid 10px blue;

}
.row {
	border: solid 1px black;
display: flex;
flex-wrap: wrap;
padding: 0 4px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

/* Create two equal columns that sits next to each other */
.column {
	border: solid 1px red;
-ms-flex: 50%; /* IE10 */
flex: 50%;
max-width: 30%;
margin-left:auto;
margin-right:auto;
padding: 10px 10px 10px 10px; /*top right bottom left */
}