
body {background-color: #4eb2b0; }

.header {
	overflow: hidden; 
	background-color: #4eb2b0; 
	padding: 20px 10px; 
}
	
.header a {
	float: left; 
	color: black; 
	text-align: center;
	padding: 12px; 
	text-decoration: none;
	font-size: 18px;
	line-height:25px; 
	border-radius: 4px;
}

.header a.logo{
	font-size: 25px; 
	font-weight:bold; 
}


.header a:hover{
background-color: red;
color: #4eb2b0;

}

.header-right{
	float: right;
	text-transform: uppercase;
}

#myCarousel{
	display: block; 
	margin-left: auto;
	margin-right: auto;
	width:90%;
	
}

@media screen and (max-width: 500px){
	.header a {
	
		float: none; 
		display: block; 
		text-align: left; 
	}
	
	.header-right {
		float: none; 
	}
	
	.flex-container{
		max-width: 95%;
	}
	.project{

      -ms-flex: 100%;
      flex: 50%;
      max-width: 70%;
  
	}
}

.project{
	
	  width: 300px;
	  height: 300px;
	  border: 5px solid red;
	  padding: 50px;
	  margin: auto;
	  margin-top: 2%;
	  margin-bottom: 2%;
 
}

.flex-container{
	display: flex;
	flex-wrap: wrap;
	text-align: center; 
	border-collapse: seperate;
	
}